:root {
  --text-background-light: rgba(255, 255, 255, 0.7);
  --text-background-dark: #1B2339;
}

.AboutPage {
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.About-section {
  display: flex;
  flex-direction: row;
}

.Skills-text {
  margin-left: 3rem;
  max-width: 400px;
}

.Skill-list {
  margin-bottom: 3rem;
}

.Skill-list-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Skills-text h3 {
  margin: 5px;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 18vw;
  gap: 10px;
}

.tags a {
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  background-color: var(--text-background-light);
  padding: 10px 15px;
  border-radius: 15px;
}

.tags a:hover {
  transform: scale(1.05);
}

.tags a:visited {
  color: inherit;
}


.tags.dark a {
  background-color: var(--text-background-dark);
}

.About-text {
  position: relative;
  height: 20rem;
  margin-left: 5rem;
  margin-right: 10rem;
  width: 60%;
  gap: 1rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -1px;
}

.About-text p {
  padding: 1rem;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.p2{
  margin-top: 5vh;
}

.hidden {
  display: none;
  opacity: 0;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.container.active {
  opacity: 1;
  visibility: visible;
}

.Love-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20rem;
}

.Love-icon {
  height: 5rem;
  padding: 5px;
  padding-right: 0rem;
  margin-bottom: 1rem;
}

.horizontal-scrolling-items {
  overflow: hidden;
  max-width: 1500px;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: var(--text-background-light);
  position: relative;
}

.horizontal-scrolling-items.dark {
  background-color: var(--text-background-dark);
}

.horizontal-scrolling-items__inner {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  padding-left: 0rem;
  flex-wrap: wrap;
}

.horizontal-scrolling-items[data-animated="true"] {
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.horizontal-scrolling-items[data-animated="true"] .horizontal-scrolling-items__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 150s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.horizontal-scrolling-items__item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0px;
}

.horizontal-scrolling-items__item svg {
  padding: 0.7rem;
  padding-right: 0rem;
}

.Experience-list {
  display: flex;
  flex-direction: column;
  padding: 20%;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 5rem;
}

.Experience-list-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Experience-card-header {
  display: flex;
  flex-direction: column;
}

.Experience-card-header .row {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align text to the bottom */
  width: 100%;
  margin-bottom: 8px; /* Adjust as needed for spacing */
}

.Experience-list-title{
font-size: 48px;
}

.Experience-card-header h3 {
  font-size: 36px;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
}

.Experience-card-header h4 {
  font-size: 32px;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
}

.Experience-card-header h5 {
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

.Experience-card p{
  padding-top: 2rem;
  font-weight: 500;
}

.Experience-list a{
  margin-top: 5vh;
  align-self: center;
}

.cv-button {
  display: flex;
  flex-direction: row;
  padding: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: var(--primary-text-color);
  border: 2px solid var(--primary-text-color);
  border-radius: 30px;
  text-align: center;
  width: 12vw;
  font-size: 1.4rem;
  background-color: transparent;
}

.cv-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.cv-button p {
  flex: 1;
  text-align: center;
  margin: 0;
}

/* Larger screen adjustments */
@media (min-width: 2000px) {
  .Skills-text {
    font-size: 1.2em;
  }

  .About-text {
    font-size: 1.8rem;
  }

  .Experience-list-title {
    font-size: 52px;
  }

  .Experience-card-header h3 {
    font-size: 38px;
  }

  .Experience-card-header h4 {
    font-size: 34px;
  }

  .Experience-card-header h5 {
    font-size: 18px;
  }

  .Experience-card p {
    font-size: 18px;
  }

  .horizontal-scrolling-items {
    font-size: 1.4rem;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .About-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Skills-text {
    margin-left: 0;
    max-width: 100%;
  }

  .About-text {
    margin: 2rem 0;
    width: 90%;
    font-size: 24px;
  }

  .Experience-list {
    padding: 10%;
  }

  .Experience-list-title {
    font-size: 36px;
  }

  .Experience-card-header h3 {
    font-size: 28px;
  }

  .Experience-card-header h4 {
    font-size: 24px;
  }

  .Experience-card-header h5 {
    font-size: 16px;
  }

  .Experience-card p {
    font-size: 16px;
  }

  .horizontal-scrolling-items {
    font-size: 28px;
  }
}