/* General styling for landing page */
.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  box-sizing: border-box;
}

/* Container for the hero section */
.Hero-container {
  padding-top: 33vh;
  padding-left: 42vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vw;
  box-sizing: border-box;
  width: 90vw;
}

/* Intro title styles */
.Intro-title h1 {
  padding: 0;
  margin: 0;
}

.Intro-title h2 {
  line-height: 90%;
  padding: 0;
  margin: 0;
}

/* Section for case studies */
.Case-section {
  margin-top: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  width: 90%;
}

/* Styles for each case card */
.Case-card {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: 1.25rem;
  padding: 0px 5em 0px 5em;
  width: 100%;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.Case-card:hover {
  transform: scale(1.05);
}

.Case-card.even{
flex-direction: row-reverse;
}

/* Link styling */
a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

/* Styles for the case image */
.Case-image {
  border-radius: 0.5rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Case-image img {
  width: 670px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}

/* Styles for case card text */
.Case-card-text {
  width: 20rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.Case-card-text .content{
  width: 85%;
}

.Case-card-text .row {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.Case-card-text .row p {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.Case-card-text h3 {
  margin: 0;
  margin-bottom: 5vh;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {

  /* Adjustments for Hero container on mobile */
  .Hero-container {
    padding: 1rem;
    padding-top: 15vh;
    align-items: center;
    text-align: center;
    width: auto;
  }

  .Intro-title h1 {
    line-height: 105%;
    text-align: left;
  }

  .Intro-title h2 {
    margin-top: 1vh;
    text-align: left;
  }

  .Hero-container p {
    margin-top: 3vh;
    text-align: left;
    line-height: 133%;
  }

  /* Adjustments for Case section on mobile */
  .Case-section {
    margin-top: 33vh;
    padding: 1rem;
    gap: 3rem;
    text-align: left;
    display: flex;
  }

  /* Adjustments for Case card on mobile */
  .Case-card {
    flex-direction: column;
    width: auto;
  }

  .Case-card h3 {
    margin-bottom: 1.3rem;
  }

  .Case-card-text .row {
    padding: 0;
  }

  .Case-card-text .row p {
    font-size: 0.85em;
  }

  .Case-image {
    max-width: 20rem; /* Ensure it doesn't exceed 320px on larger screens */
    max-height: 15rem; /* Ensure it doesn't exceed 240px on larger screens */
    margin-bottom: 1vh;
  }

  .Case-card-text {
    width: auto;
    padding: 0;
  }
}
