.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  box-sizing: border-box;
}

.Hero-container {
  padding-top: 33vh;
  padding-left: 33vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5vw;
  box-sizing: border-box;
  width: 90vw;
}

.Hero-container p {
  font-size: 1.2rem;
}

.Intro-title h1 {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0;
  margin: 0;
}

.Intro-title h2 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 90%;
  padding: 0;
  margin: 0;
}

.Case-section {
  margin-top: 25rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.8125rem;
  gap: 2.5rem;
}

.Case-card {
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 1.25rem;
  width: 100%;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.Case-card:hover {
  border: #f0f0f0 solid 2px;
  transform: scale(1.1);
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

.Case-image {
  width: 43.75rem;
  height: 31.25rem;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Case-card-text {
  width: 25rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Case-card-text .row {
  display: flex;
  width: 100%;
  align-items: center;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.3125rem;
}

.Case-card-text h3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 5rem;
}

.Case-card-text .row p {
  padding: 0.3125rem;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .Hero-container {
    padding: 4rem;
    padding-top: 10rem;
    align-items: center;
    text-align: center;
  }

  .Hero-container p {
    font-size: 1.25rem;
  }

  .Intro-title h1 {
    font-size: 3rem;
  }

  .Intro-title h2 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .Case-card {
    flex-direction: column;
    width: auto;
  }

  .Case-image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .Case-card-text {
    width: auto;
    padding: 0.625rem;
  }
}
