.my-work-page {
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.gallery {
  margin: 0 auto;
}

.gallery:after {
  content: "";
  display: block;
  clear: both;
}

.gallery-item {
  width: 33.33%;
  float: left;
  margin-bottom: 10px;
}

.gallery-item img {
  display: block;
  max-width: 100%;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.button.active {
  background-color: var(--secondary-text-color);
  border-color: var(--secondary-text-color);
}
