/* Header Styles */
header {
  display: flex;
  width: 100%;
  padding-top: 3vh;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  font-family: Blinker, sans-serif;
  transition: all 0.3s linear;
}

/* Header when scrolled */
header.header-scrolled {
  background: var(--header-gradient);
  padding-top: 0;
}

/* Logo Container */
.Logo-Container {
  display: flex;
  align-items: center;
}

/* Logo Image */
.Logo-Image {
  width: 70%;
  height: auto;
  margin-left: 1.5em;
}

.Logo-Image-Scrolled {
  width: 50px;
  height: auto;
  padding: 0.6em;
  margin-left: 0.7em;
}

/* Logo Hover Effect */
.Logo-Image:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

/* Link Container */
.Link-Container {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 24px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  margin-right: 0.7em;
}

.Link-Container svg{
  padding: 0;
}

/* Links */
.link, .Link-Container a {
  text-decoration: none;
}

.link:hover, .Link-Container a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  cursor: pointer;
}

/* Theme Switch Container */
.ThemeSwitch-Container {
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Theme Switch Icon */
.ThemeSwitch-Icon {
  height: 32px;
  width: 32px;
}

.ThemeSwitch-Icon:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

/* Hamburger Menu */
.Hamburger-Menu {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}

/* Media Queries for Mobile View */
@media (max-width: 768px) {

  header {
    align-content: space-between;
    display: flex;
    z-index: 2;
  }

  header.header-scrolled {
    padding-top: 0;
    height: 64px;
  }

  /* Mobile Link Container */
  .Link-Container {
    position: absolute;
    top: 64px;
    right: 0;
    margin-right: 0;
    background: var(--header-menu);
    flex-direction: column;
    align-items: center;
    width: 200px;
    transform: translateX(100%);
    transition: all 0.3s linear;
    border-bottom-left-radius: 5px;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    padding: 20px 0;
  }

  .Link-Container.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }

  /* Mobile Links */
  .link, .Link-Container a {
    margin: 10px 0;
    font-size: 1.2rem;
  }

  /* Mobile Theme Switch Container */
  .ThemeSwitch-Container {
    margin-left: 0;
    margin-top: 10px;
  }

  /* Mobile Logo Container */
  .Logo-Container {
    justify-content: center;
    width: 100%;
  }

  /* Mobile Logo Image */
  .Logo-Image {
    width: 42px;
    padding: 5px;
    margin-left: 2vh;
  }

  .Logo-Image-Scrolled {
    padding-top: 1vh;
  }

  /* Display Hamburger Menu on Mobile */
  .Hamburger-Menu {
    display: flex;
    margin-right: 2vh;
    z-index: 2;
  }
}
