p {
    margin: 0;
  }
  
  header {
    display: flex;
    width: 100%;
    padding-top: 3vh;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    font-family: Blinker, sans-serif;
  }

  header.header-scrolled {
    background: var(--header-gradient);
    padding-top: 1vh; /* Adjust the padding if needed */
  }

  .Link-Container.header-scrolled {
    align-items: center;
    align-content: center;
    padding-bottom: 15px;
  }

  .Logo-Image {
    width: 80%;
    height: auto;
    margin-left: 32px;
  }
  
  .Logo-Image-Scrolled {
    width: 50px;
    height: auto;
    padding: 5px;
  }

  .Logo-Image:hover {
    opacity:0.7;
    filter:alpha(opacity=70); 
  }
  
  .Link-Container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 50px;
    font-size: 24px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    margin-right: 32px;
  }

  .link{
    height: 26px;
    text-decoration: none;
  }

  .link:hover {
    opacity:0.7;
    filter:alpha(opacity=70); 
  }

  .ThemeSwitch-Container {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .ThemeSwitch-Icon {
    height: 32px;
    width: 32px;
  }

  .ThemeSwitch-Icon:hover{
    opacity:0.7;
    filter:alpha(opacity=70); 
  }
  
  .Hamburger-Menu {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
  }


/* Media queries for responsiveness */
@media (max-width: 768px) {
  .Link-Container {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #444;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: calc(100vh - 60px);
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    padding: 20px 0;
  }

  .Link-Container.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }

  .link {
    margin: 10px 0;
    font-size: 1.2rem;
  }

  .ThemeSwitch-Container {
    margin-left: 0;
    margin-top: 10px;
  }

  .Logo-Container {
    justify-content: center;
    width: 100%;
  }

  .Logo-Image {
    display: none;
  }

  .Logo-Image-Scrolled {
    display: block;
    height: 45px;
  }

  .Hamburger-Menu {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 2;
  }
}

@media (max-width: 480px) {
  .link {
    font-size: 1rem;
  }

  .Logo-Image-Scrolled {
    height: 40px;
  }
}