:root {
  --primary-text-color-light: #1b2339;  
  --primary-text-color-dark: #E6E2FF;
}

/* Light theme */
[data-theme="light"] {
  --primary-text-color: var( --primary-text-color-light);
}

/* Dark theme */
[data-theme="dark"] {
  --primary-text-color: var( --primary-text-color-dark);
}


.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100vh;
  margin-top: auto;
  padding: 2rem; 
}

.text-container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  line-height: -5%;
  margin-left: 10rem;
  margin-bottom: 52vh;
  font-size: 1.2rem;
  overflow: hidden;
  opacity: 0;
}

.text-container h5{
  font-size: 2rem;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
}

.text-container h1{
  font-size: 7rem;
  font-weight: 300;
  line-height: 0.8;
  margin: 0px;
  padding: 0px;
}

.links {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  position: relative;
  padding: 1rem;
  z-index: 1;
}

.socials {
  display: flex;
  padding-left: 30px;
  gap: 10px;
}

.socials a {
  color: inherit;
  transition: color 0.3s;
}

.socials .a1:hover {
  color: #0073b1; /* LinkedIn blue */
}

.socials .a2:hover {
  color: #6e5494; /* Github purple*/
}

.socials .a3:hover {
  color: #0acf83;
}

.mail {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  border: 2px solid var(--primary-text-color);
  border-radius: 30px;
  text-align: center;
  gap: 5px;
  min-width: 200px;
  transition: border-color 0.3s ease-in-out; 
}

.mail:hover {
  opacity: 0.8;
}

.email-text {
  flex: 1;
  text-align: center;
}

.img-container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.låda-image {
  height: 80vh;
  margin-left: 8rem;
}

.copyright {
  align-self: flex-end;
  bottom: 0;
  z-index: 1;
}


/* Media queries for mobile view */
@media (max-width: 768px) {
  .text-container {
    margin: 0px;
    margin-bottom: 10rem;
    align-content: center;
    align-self: center;
  }

  .text-container h5 {
    font-size: 1rem;
  }

  .text-container h1 {
    font-size: 2.5rem;
  }

  .links {
    align-content: center;
    align-self: center;
    padding: 1rem;
    z-index: 1;
  }

  .låda-image {
    margin: 15px;
    margin-bottom: 0px;
    height: 250px;
  }

  .copyright {
    font-size: 0.75rem;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .text-container h5 {
    margin: 0px;
    font-size: 0.875rem;
    align-content: center;
    align-self: center;
  }

  .text-container h1 {
    font-size: 2rem;
  }

  .links {
    align-content: center;
    align-self: center;
    padding: 1rem;
    z-index: 1;
  }

  .låda-image {
    margin: 15px;
    margin-bottom: 0px;
    height: 250px;
  }

  .copyright {
    font-size: 0.625rem;
    padding: 5px;
  }
}