:root {
  --primary-text-color-light: #1b2339;  
  --primary-text-color-dark: #E6E2FF;
  --base-font-size: 16px;
}

/* Theme Settings */
[data-theme="light"] {
  --primary-text-color: var(--primary-text-color-light);
}

[data-theme="dark"] {
  --primary-text-color: var(--primary-text-color-dark);
}

/* Footer Container */
#footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100vh;
  margin-top: 4vh;
  padding: 2rem;
  padding-bottom: 0;
}

/* Text Container */
.text-container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  line-height: -5%;
  margin-left: 10rem;
  margin-bottom: 52vh;
  font-size: 1.2em;
  overflow: hidden;
  opacity: 0;
}

.text-container h5 {
  font-size: 2em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  padding-left: 0.9375em;
}

.text-container h1 {
  font-size: 7em;
  font-weight: 300;
  line-height: 0.8;
  margin: 0;
  padding: 0;
}

/* Links Container */
.links {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  position: relative;
  padding: 1rem;
  z-index: 1;
}

/* Mail Contact */
.mail {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625em;
  padding-top: 0.3125em;
  padding-bottom: 0.3125em;
  margin: 0.625em;
  border: 2px solid var(--primary-text-color);
  border-radius: 1.875em;
  text-align: center;
  gap: 0.3125em;
  transition: border-color 0.3s ease-in-out;
}

.mail p {
  padding-right: 5px;
  margin: 0;
}

.mail:hover {
  opacity: 0.7;
}

/* Email Text */
.email-text {
  flex: 1;
  text-align: center;
}

/* Socials Container */
.socials {
  display: flex;
  padding-left: 1.875em;
  gap: 0.625em;
}

/* Social Media Links */
.socials a {
  color: inherit;
  transition: color 0.3s;
}

.socials svg.a1, a.a2, .a3 svg.icon{
  display: flex;
  height: 32px;
  width: 32px;
}

.socials .a1:hover {
  color: #0073b1;
}

.socials .a2:hover {
  color: #6e5494;
}

.socials .a3:hover {
  color: #0acf83;
}

/* Image Container */
.img-container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

/* Mail Box Image */
.låda-image {
  height: 80vh;
  margin-left: 5vw;
}

/* Copyright */
.copyright {
  align-self: flex-end;
  bottom: 0;
  z-index: 1;
  font-size: 0.875em;
}
.socials svg.icon{
  width: 32px;
  height: 32px;
}

/* Media Queries */
@media (max-width: 1024px) and (min-width: 769px) {
  .text-container {
    font-size: 1em;
    margin-left: 8rem;
  }

  .låda-image {
    margin-right: 0;
    margin-left: 6rem;
    height: 70vh;
  }

  h1 {
    font-size: 0.5em;
}

h2 {
    font-size: 1.45em;
}

h3 {
    font-size: 2.7em;
}

p {
    font-size: 1.1em;
}
}

@media (max-width: 768px) {
  #footer {
    padding: 0.3125em;
    height: 50vh;
  }

  .text-container {
    margin: 0;
    margin-bottom: 10vh;
    align-items: flex-start;
    align-self: center;
  }

  .text-container h5 {
    display: none;
  }

  .text-container h1 {
    font-size: 1.8em;
  }

  .mail {
    display: flex;
    align-self: flex-end;
    width: auto;
    font-size: 0.75em;
    margin: 0.5em;
    margin-top: 3rem;
    margin-right: 0;
    padding: 0.1875em;
    gap: 0;
  }

  .links {
    z-index: 1;
    padding: 0;
  }

  .låda-image {
    margin: 0.5em;
    margin-bottom: 0;
    height: 28vh;
  }

  .copyright {
    font-size: 0.65em;
    padding: 0.3125em;
  }

  svg.icon {
    width: 24px;
    height: 24px;
  }
}
