.cloud {
  position: absolute;
  z-index: 0;
}

.cloud10 {
  top: 4%;
  left: 75%;
  width: 400px;
  height: auto;
}

.cloud20 {
  top: 5%;
  left: -3%;
  width: 300px;
  height: auto;
}

.cloud30 {
  top: 28%;
  left: 5%;
  width: 600px;
  height: auto;
}

.cloud50 {
  bottom: 33%;
  left: 38%;
  width: 300px;
  height: auto;
}

.cloud60 {
  bottom: 45%;
  left: -5%;
  width: 500px;
  height: auto;
}

.cloud70 {
  bottom: 35%;
  left: 55%;
  width: 500px;
  height: auto;
}

@media (max-width: 768px) {
  .cloud10 {
    top: 45vh;
    left: 50%;
    width: 65vw;
  }
  
  .cloud20 {
    top: 3.5%;
    left: -3%;
    width: 60vw;
  }
  
  .cloud30 {
    top: 30%;
    left: 5%;
    width: 100vw;
  }
  
  .cloud50 {
    bottom: 32%;
    left: 41%;
    width: 60vw;
  }
  
  .cloud60 {
    bottom: 45%;
    left: -5%;
    width: 70vw;
    height: auto;
  }
  
  .cloud70 {
display: none;
  }
}