/* Variables */

:root {
  --background-gradient-light: linear-gradient( #8FA6E9 0%, #DDC9E2 11%, #F8A8C0 81%, #FFCA99 100%);
  --background-gradient-dark: linear-gradient( #2D2151 4.7%, #6D4174 21.22%, #33274d 86.25%, #923f80 104.53%);
  --header-gradient-light: linear-gradient(to right, #9FAAE0, #EDACC4);
  --header-menu-light: #9FAAE0;
  --header-menu-dark: #271C44;
  --header-gradient-dark: linear-gradient(to right, #271C44, #874B80);
  --card-gradient-light: linear-gradient(hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.5) 15%, hsla(0, 0%, 100%, 0.5) 90%, hsla(0, 0%, 100%, 0) 100%);
  --card-gradient-dark: linear-gradient(hsla(0, 0%, 100%, 0) 0%, hsla(223, 36%, 16%, 0.6) 15%, hsl(224, 36%, 16%, 0.6) 90%, hsla(0, 0%, 100%, 0) 100%);
 
  --primary-text-color-light: #1b2339;
  --secondary-text-color-light: #3D4762;
  
  --primary-text-color-dark: #E6E2FF;
  --secondary-text-color-dark: #3D4762;
}

/* Light theme */
[data-theme="light"] {
  --background-gradient: var(--background-gradient-light);
  --header-gradient: var(--header-gradient-light);
  --header-menu: var(--header-menu-light);
  --card-gradient: var(--card-gradient-light);
  --primary-text-color: var(--primary-text-color-light);
  --secondary-text-color: var(--secondary-text-color-light);
}

/* Dark theme */
[data-theme="dark"] {
  --background-gradient: var(--background-gradient-dark);
  --header-gradient: var(--header-gradient-dark);
  --header-menu: var(--header-menu-dark);
  --card-gradient: var(--card-gradient-dark);
  --primary-text-color: var(--primary-text-color-dark);
  --secondary-text-color: var(--secondary-text-color-dark);
}

body {
  margin: 0;
  background: var(--background-gradient);
  color: var(--primary-text-color);
  font-family: poppins;
}

.background-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: var(--background-gradient);
}

.grain-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Ensure it is behind other elements */
  opacity: 0.07; /* Match your grain opacity */
}

.cloud {
  position: absolute;
  z-index: 0;
}

.cloud1 {
  top: 15vh;
  right: 3vw;
  width: 25vw;
  min-width: 15vw;
  height: auto;
}

.cloud2 {
  top: 50vh;
  left: -1.5vw;
  width: 20vw;
  height: auto;
}

.cloud3 {
  top: 75vh;
  left: 8vw;
  width: 40vw;
  height: auto;
}

.cloud4 {
  top: 65vh;
  right: 8vw;
  width: 30vw;
  height: auto;
  transform: scaleX(-1);
}

.cloud5 {
  bottom: 33%;
  left: 38%;
  width: 20vw;
  height: auto;
}

.cloud6 {
  bottom: 45%;
  left: -5%;
  width: 30vw;
  height: auto;
}

.cloud7 {
  bottom: 35%;
  left: 55vw;
  width: 36vw;
  height: auto;
}

.content-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Media queries for mobile view */
@media (max-width: 768px) {
  .cloud1 {
      width: 50vw;
  }

  .cloud2 {
      width: 8vw;
  }

  .cloud3 {
      width: 16vw;
  }

  .cloud4 {
      width: 13vw;
  }

  .cloud5 {
      width: 8vw;
  }

  .cloud6 {
      width: 13vw;
  }

  .cloud7 {
      width: 13vw;
  }
}